@font-face {
  font-family: HoneyCalmDown;
  src: url(../fonts/HoneyCalmDown-Regular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}

main,
footer {
  font-size: 0.8125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

b {
  color: #F4A6BE;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav {
  width: 100%;
  background-color: #4A5B99;
  text-align: center;
  display: flex;
  height: 3rem;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
nav a {
  padding: 0.5rem 0.75rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9375rem;
  font-family: HoneyCalmDown;
}

header {
  background-color: #F4A6BE;
  text-align: center;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header h1 {
  color: #4A5B99;
  font-family: HoneyCalmDown;
  font-size: 8rem;
}
header h2 {
  color: #4A5B99;
  font-family: HoneyCalmDown;
  font-size: 5rem;
  position: relative;
  padding: 20px;
}
header ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 1.25rem;
  align-items: center;
  gap: 1.25rem;
}
header img {
  width: 15rem;
  padding: 1.25rem;
  margin-top: 1.25rem;
}
header i {
  font-size: 5rem;
  color: #ffffff;
  margin-top: 20px;
}

#tips,
#carta,
#cartafr,
#cartasc,
#socios,
#mapas,
#enviosdom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

#tips {
  background-color: #ffffff;
  color: #252525;
  gap: 1.5rem;
}
#tips span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#tips i {
  color: #F4A6BE;
  font-size: 2.5rem;
}
#tips h2 {
  font-family: HoneyCalmDown;
  color: #F4A6BE;
  font-size: 2.1875rem;
}

#carta {
  background-color: #4A5B99;
  color: #ffffff;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: row;
  align-content: center;
}
#carta h2 {
  font-family: HoneyCalmDown;
  color: #e9dce2;
  font-size: 4.375rem;
}
#carta p {
  max-width: 500px;
  text-align: left;
}
#carta img {
  width: 50%;
  object-fit: cover;
}
#carta span {
  text-align: left;
}
#carta a {
  text-decoration: none;
  color: #F4A6BE;
  font-size: 1.25rem;
  font-family: HoneyCalmDown;
}

#cartafr,
#cartasc {
  padding: 2.5rem;
  text-align: center;
}
#cartafr h2,
#cartasc h2 {
  font-family: "Caveat Brush", cursive;
  font-size: 2.5rem;
}

#cartafr h2 {
  color: #4A5B99;
}

#cartasc {
  background-color: #4A5B99;
  color: #ffffff;
}
#cartasc h2 {
  color: #F4A6BE;
}

.carousel {
  position: relative;
  width: 50%;
}

.carousel-img {
  width: 420px;
  object-fit: cover;
  height: 380px;
}

#cartasect img {
  width: 250px;
}

.rosigall {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  text-align: center;
}

.rositm {
  display: flex;
  justify-content: space-around;
  padding: 3.125rem;
  flex-wrap: wrap;
}
.rositm aside {
  width: 60%;
  padding: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pasado {
  background-color: #ffffff;
  color: #252525;
  width: 40%;
  padding: 3.125rem;
  text-align: justify;
}
#pasado h3 {
  font-family: "Caveat Brush", cursive;
  color: #F4A6BE;
  font-size: 2.8125rem;
  margin-top: 1.25rem;
}

.fothist {
  width: 45%;
  height: 300px;
  object-fit: cover;
  margin: 10px;
}

.fothist2 {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px;
}

#presente {
  background-color: #4A5B99;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 6.25rem;
  overflow: visible;
}
#presente img {
  position: absolute;
  left: -4%;
  height: 140%;
  object-fit: cover;
  z-index: 1;
  bottom: 0;
}
#presente .presenteqt {
  position: relative;
  z-index: 2;
  padding: 2.5rem;
  max-width: 800px;
  right: 10%;
  text-align: right;
}
#presente h2 {
  font-family: "Caveat Brush", cursive;
  font-size: 13.75rem;
  margin: 0;
}
#presente p {
  font-size: 1rem;
}

#fundadora {
  background-color: #ffffff;
  color: #252525;
  text-align: center;
  padding: 4.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}
#fundadora img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
#fundadora h2 {
  font-family: "Caveat Brush", cursive;
  color: #F4A6BE;
  font-size: 3.4375rem;
}
#fundadora p {
  max-width: 600px;
}

#socios {
  background-color: #4A5B99;
  color: #ffffff;
  text-align: center;
}
#socios .socs {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#socios img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
#socios h3 {
  font-family: "Caveat Brush", cursive;
  font-size: 1.875rem;
}

#mapas {
  background-color: #ffffff;
  color: #252525;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}
#mapas .tiendasf {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  text-align: right;
}
#mapas .form-select {
  width: 30%;
}
#mapas h2 {
  font-family: "Caveat Brush", cursive;
  color: #F4A6BE;
  font-size: 6.25rem;
}

#enviosdom {
  background-color: #4A5B99;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 50px;
}
#enviosdom p {
  max-width: 600px;
  text-align: center;
}
#enviosdom .formuenv {
  width: 30%;
  margin-top: 2.5rem;
}
#enviosdom h2 {
  font-family: "Caveat Brush", cursive;
  font-size: 5rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userrev {
  width: 60px;
}

.userrating {
  width: 70px;
  color: #F4A6BE;
}

#review,
#marca {
  width: 50%;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#review h3 {
  font-size: 1.875rem;
  font-family: HoneyCalmDown;
  color: #4A5B99;
  margin-bottom: 0.625rem;
}
#review p {
  max-width: 500px;
  margin-bottom: 1.25rem;
}
#review img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.625rem;
}

#marca {
  background-color: #F4A6BE;
  color: #ffffff;
  flex-wrap: nowrap;
  justify-content: center;
}
#marca p {
  max-width: 500px;
  margin-bottom: 1.25rem;
}
#marca img {
  width: 200px;
}
#marca i {
  font-size: 1.5625rem;
  border-radius: 50%;
  margin: 0.625rem;
  color: #ffffff;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar-custom {
  background-color: #4A5B99;
}
.navbar-custom .nav-link {
  color: #ffffff;
}
.navbar-custom .nav-link:hover {
  color: #F4A6BE;
}

.navbar-mobile {
  background-color: #4A5B99;
}
.navbar-mobile .nav-link {
  color: #ffffff;
}
.navbar-mobile .nav-link:hover {
  color: #F4A6BE;
}

@media (max-width: 599px) {
  header {
    height: 30%;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 5rem;
  }
  header img {
    width: 60%;
  }
  header ul {
    flex-direction: column;
  }
  header li {
    margin: 10px 0;
  }
  .maprosi {
    width: 100%;
  }
  p {
    font-size: 1rem;
    padding: 10px;
  }
  #tips {
    height: auto;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #tips img,
  #tips i {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
  #tips h2 {
    font-size: 25px;
  }
  #carta {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 20px;
  }
  #carta span {
    margin-left: 0;
  }
  #carta h2 {
    font-size: 40px;
  }
  #carta p {
    width: 100%;
  }
  .carousel {
    position: relative;
    width: 50%;
  }
  .carousel-img {
    width: 100%;
    max-width: 420px;
  }
  #cartafr,
  #cartasc {
    padding: 0;
  }
  #cartafr h2,
  #cartasc h2 {
    font-size: 4rem;
  }
  .rosigall {
    width: 100%;
    font-size: 1.5rem;
  }
  .rositm {
    padding: 2.5rem 0;
  }
  #pasado {
    width: 100%;
    padding: 20px;
  }
  #presente {
    padding: 20px;
    flex-direction: column;
  }
  #presente img {
    position: absolute;
    left: 0;
    height: 150%;
    width: 100%;
    z-index: 0;
  }
  #presente .presenteqt {
    right: 0;
    max-width: 100%;
    padding: 0;
  }
  #presente h2 {
    font-size: 100px;
  }
  #presente p {
    font-size: 1rem;
  }
  #fundadora {
    padding: 20px;
  }
  #fundadora img {
    width: 200px;
    height: 200px;
  }
  #fundadora h2 {
    font-size: 2.5rem;
  }
  #socios .socs {
    width: 50%;
    padding: 1rem;
  }
  #socios img {
    width: 150px;
    height: 150px;
  }
  #mapas {
    flex-direction: column;
    padding: 20px;
  }
  #mapas .tiendasf {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
  }
  #mapas .form-select {
    width: 100%;
  }
  #mapas h2 {
    font-size: 3rem;
  }
  #enviosdom {
    padding: 20px;
  }
  #enviosdom .formuenv {
    width: 100%;
  }
  #enviosdom h2 {
    font-size: 3rem;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  #review,
  #marca {
    width: 100%;
    padding: 10px;
  }
  #review h3 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
